@use 'mixins';
@use "sass:meta";
@use 'variables.scss';
@use '_bases.scss';
@use '../../avm/components/Header.module.scss';
@use '../../avm/components/Footer.module.scss';
@use '../../avm/components/Carousel.module.scss';
@use '../../avm/components/HomeSection.module.scss';
@use 'pages/us';
@use '../../avm/components/Vehicule.module.scss';
@use '../../avm/components/Meeting.module.scss';
@use '../../avm/components/Association.module.scss';
@use '../../avm/components/SocialMedia.module.scss';



* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
}

@include meta.load-css('responsive');