$primary-green: #1a2a1a;
$accent-gold: #877053;
$accent-blue: #00ccff;
$text-light: #ecf0f1;
$text-grey: #7b8577;
$bg-light: rgb(237, 237, 237);
$bg-dark : #121212;
$white: #ffffff;
$color-slide-bg: #1a1f16;
$color-caption-border: #8b7355;
$hover-gold : #6a7455;


$transition-main: 0.3s ease;
$border-gold: 5px solid $accent-gold;

$section-padding: 5rem; 
$section-padding-mobile: 3rem;

