@use '../../scss/mixins' as mixins;
@use '../../scss/variables.scss' as *;

.container {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    padding: 80px 20px;
    background-color: $bg-dark;

    h2, p {
        text-align: center;
    }

    h2{
        @include mixins.h1-style;
    }

    p{
        color: $text-grey;
    }

    .list {
        display: flex;     
        flex-direction: row;
        flex-wrap: wrap;   
        justify-content: center;
        gap: 30px;         
        margin-top: 50px;
    }

    .wrapper {
        img {
            height: 120px;   
            width: auto;
            object-fit: contain;
            transition: 0.3s;

            &:hover {
           
                transform: scale(1.1);
            }
        }
    }
}