@import '../variables.scss';
.social-media-page {
  img {
    height: 200px;
    width: 320px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    transition: 0.3s ease;
  
  }

  img:hover {
    transform: scale(1.02);
  }

  .wrapper-social-media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin-top: 1rem;
    max-width: 1000px;
  }

  a {
    color: #000000;
  }

  i{
    font-size: 1.5rem;
    
  }

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
