@use '../scss/mixins' as mixins;
@import '../scss/variables.scss';

.association-page {
  background: linear-gradient(135deg, #1a2a1a 0%, #2a3a2a 50%, #3f5f3f 100%);
   position: relative;
  width: 100%;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  h2 { @include mixins.h1-style; }
  span { color: rgba($white, 0.8); }

  .container {
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 1000px;
    width: 100%;
  }

  .box {
    flex: 1;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    padding: 40px 30px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    background-color: rgba(255, 255, 255, 0.037);
    border: 1px solid rgba(255, 255, 255, 0.332);
    text-align: center;
    margin-top: 2rem;

    i { font-size: 2.5rem; margin-bottom: 20px; color: #b2a57c; }
    h3 { font-size: 1.4rem; margin-bottom: 15px; }
    p { color: rgba($white, 0.7); font-size: 0.95rem; margin: 0; line-height: 1.5; }
  }

  .box:hover { transform: translateY(-5px); }

  button {

    margin-top: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.489);
    .empty{
      font-size: 1.1rem;
      height: 55px;
      border-radius: 5px;
      border: none;
      padding: 0 25px;
      color: $white;
      cursor: pointer;
      transition: all 0.3s ease;
    }
  }
}

@media (max-width:990px){
  .association-page {
    h2, span {
       text-align: center;
    }

    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    
   
  }
}
