@import '../scss/variables.scss';

// On change "header" par ".header"
.header {
  background-color: $primary-green;
  padding: 0px 50px;
  border-bottom: 3px solid $accent-gold;

  .container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: 30px;
  }

  // Maintenant "a" est autorisé car il est imbriqué dans ".header"
  a {
    text-decoration: none;
    color: white;
  }

  .header-logo img {
    height: 95px;
    width: auto;
  }

  .list {
    ul {
      display: flex;
      justify-content: center;
      gap: 25px;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    li {
      color: $white;
      cursor: pointer;
      font-weight: bold;
      transition: color 0.3s;

      &:hover {
        color: $hover-gold;
      }
    }
  }

  .social-media {
    ul {
      display: flex;
      gap: 15px;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li {
      color: $white;
      font-size: 1.5rem;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: $hover-gold;
      }
    }
  }

  
  .menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: $white;
    cursor: pointer;
    z-index: 10;
  }
}