@use '../scss/mixins';
@use '../scss/variables.scss';

.home-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;

  
  .bgVideo {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(37%); 
  }

  .container {
    position: relative;
    top : -2rem;
    height: 450px;
    max-width: 1200px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.51);
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.036);
    backdrop-filter: blur(10px);
  }

  h1 {  
    @include mixins.h1-style; 
    font-size: 5rem;  
    animation-duration: 0.7s; 
    animation-name: slidein; 
    margin-top: -15px;
  }

  h2 { 
    font-size: 2rem; 
    color: variables.$accent-gold; 
    border: none; 
    margin: 0; 
    animation-duration: 0.8s; 
    animation-name: bounce; 
  }

  p { 
    font-size: 1.5rem; 
    color: variables.$white; 
    max-width: 800px; 
    margin: 0; 
    animation-duration: 0.8s; 
    animation-name: bounce; 
  }
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 1rem;
  animation-name: slidein;
  animation-duration: 0.9s;
}

.full, .empty {
  font-size: 1.1rem;
  height: 55px;
  border-radius: 5px;
  border: none;
  padding: 0 25px;
  color: variables.$white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.full { 
  background-color: variables.$accent-gold; 
  &:hover { 
    opacity: 0.9; 
    transform: translateY(-2px); 
  }
}

.empty {
  background-color: transparent;
  border: 2px solid variables.$white;
  &:hover { 
    background: rgba(255, 255, 255, 0.1); 
  }
}

@keyframes slidein {
  from { margin-left: 100%; width: 300%; }
  to { margin-left: 0%; width: 100%; }
}

@keyframes bounce {
  from { transform: translateY(55px); }
  to { transform: translateY(0px); }
}

@media (max-width:990px) {
  .container {
    text-align: center;
   
  }
}